/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2019, 4:31:39 PM
    Author     : john
*/
div{
    margin: 10px;
}
save-btn {
    margin-left: 36px;
    margin-top: 30px;
}

