<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th="http://www.org.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a class="btn btn-primary" th:href="@{'/user/new'}">Create New</a>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Degree</th>
                <th colspan="2">Action</th>
            </tr>
            <tbody>
                <tr th:each="student: ${students}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.fname}"></td>
                    <td th:text="${student.lname}"></td>
                    <td th:text="${student.dept}"></td>
                    <td th:text="${student.degree}"></td>
                    <td><a class="btn btn-danger" th:href="@{'/user/delete/'}+${student.id}">Delete</a></td>
                    <td><a class="btn btn-success" th:href="@{'/user/update/'}+${student.id}">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
