<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.org.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{'/student.css'}">
    </head>
    <body>
        <form th:action="${'/user/update/'}+${student.id}" method="post">
            <div class="contianer">
                <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${student.id}" name="id" placeholder="ID">
                </div><br>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${student.fname}" name="fname" placeholder="First name">
                </div><br>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${student.lname}" name="lname" placeholder="Last name">
                </div><br>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${student.dept}" name="dept" placeholder="Department">
                </div><br>
                <div class="col-md-4">
                    <input type="text" class="form-control" th:value="${student.degree}" name="degree" placeholder="Degree">
                </div>
            </div>
            <input class="save-btn btn btn-success" type="submit" value="Update"/>
        </form>
    </body>
</html>
